/* general */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

dt, dd {
  margin-bottom: 0.5em;
}

footer {
  font-size: 13px;
}

/* home page */

.jumbotron {
  /* fall back to the middle color stop on browsers without linear gradients */
  background-color: rgb(43, 75, 90) !important;
  /* this is based off of the really cool gradient on http://bootswatch.com */
  background-image: linear-gradient(to top right, rgb(16, 30, 62) 0%, rgb(43, 75, 90) 87%, rgb(67, 94, 103) 100%);
}

.jumbotron h1 {
  font-size: 52px !important;
  margin-top: 0;
  text-align: left;
}

.excerpts h2 {
  text-align: center;
}

.excerpts .btn {
  width: 100%;
  font-size: inherit;
}
