---
layout: default
title: Home
published: true
---

<!-- Modify home page content with files in _includes and page metadata. -->

<!-- Site introduction jumbotron -->
<div class="jumbotron jumbotron-home">
  {% capture heading %}{% include home_heading.md %}{% endcapture %}
  {{ heading | markdownify }}
  <br>

  <div class="row">
    <div class="col-sm-3">
      {% capture portrait %}{% include home_portrait.md %}{% endcapture %}
      {{ portrait | markdownify }}
    </div>

    <div class="col-sm-9 lead">
      {% capture intro %}{% include home_intro.md %}{% endcapture %}
      {{ intro | markdownify }}
    </div>
  </div>
</div>

<!-- Main page excerpts (taken from page metadata) -->
<div class="row excerpts">
  {% assign link_pages = site.pages | where_exp: 'link_page','link_page.position != nil' | sort: 'position' %}
  {% for link_page in link_pages %}
    <div class="col-md-3">
      <h2>{{ link_page.title }}</h2>
      <p>{{ link_page.excerpt }}</p>
      <a class="more-link" href="{{link_page.url}}">see more...</a>
    </div>
  {% endfor %}
</div>
