---
title: Home
published: true
---

<!-- Modify home page content with files in _includes and page metadata. -->

<!-- Site introduction jumbotron -->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-3">
       <!-- The home page's portrait photo, displayed with a small citation. -->
       <figure class="figure">
        <img src="/assets/portrait.jpg" class="figure-img img-fluid" alt="photo of Dana">
        <figcaption class="figure-caption">Photo: Marlies Dambrot</figcaption>
      </figure>
    </div>

    <div class="col lead">
      {% capture intro %}{% include home_intro.md %}{% endcapture %}
      {{ intro | markdownify }}
    </div>
  </div>
</div>

<!-- Main page excerpts (taken from page metadata) -->
<div class="row">
  {% assign link_pages = site.pages | where_exp: 'link_page','link_page.position and link_page.autogen == nil' | sort: 'position' %}
  {% for link_page in link_pages %}
    <div class="col-lg">
      <h1><a href="{{link_page.url}}">{{ link_page.title }}</a></h1>
      {{ link_page.excerpt | markdownify }}
      <a href="{{link_page.url}}">(more)</a>
    </div>
  {% endfor %}
</div>
