---
title: Music & Production
position: 2
excerpt: >-
  From childhood on, I've always been surrounded by music and musicians, and
  felt inspired to follow in their footsteps, both through creating my own
  music, and supporting others in doing likewise…
published: true
music:
  Music:
    Serendipity Doo Dah:
      artist: Dana McCurdy and Kim Sterner
      soundcloud: 99634633
      description: 'New world fusion pieces for synthesizer, guitar, percussion, and vocals.'
    Electronic Music:
      soundcloud: 43073312
      description: 'Solo pieces for synthesizer, sampler, and processed audio.'
    Songs:
      soundcloud: 43061568
      description: Some of my singer-songwriter tunes (self-produced).
    The Clifton Tribe:
      url: 'https://cliftontribe.bandcamp.com/'
      description: 'Improvised music for drums, mallet & wind instruments, and percussion.'
      labels:
        - drums & percussion
        - recording
        - editing
        - post-production/mixing
    Dinosaur Dance:
      youtube: DXTjNYapqEk
    Havana Nocturne:
      youtube: rwquxmtBNWk
    Contemporary Classical Pieces:
      artist: 'Composer: Michael Palmieri'
      url: 'https://www.soundclick.com/bands3/default.cfm?bandid=209257'
      labels:
        - mixing
        - post-production
        - technical support
  Recording Credits:
    Feel Like Makin' Love:
      artist: Roberta Flack
      url: 'https://www.allmusic.com/album/feel-like-makin-love-mw0000654661'
      labels:
        - synthesizer programming
    Afro-Cuban Jazz Moods:
      artist: Dizzy Gillespie/Machito
      url: 'https://www.allmusic.com/album/afro-cuban-jazz-moods-mw0000308238'
      labels:
        - synthesizer programming
    Guilty:
      url: >-
        https://www.allmusic.com/album/mike-oldfield-the-collection-mw0001424206/credits
      artist: Mike Oldfield
      labels:
        - synthesizer programming
    The Doctor Is In and Out:
      url: 'https://www.allmusic.com/album/the-doctor-is-in-out-mw0000228181'
      artist: Yusef Lateef
      labels:
        - synthesizer
        - sound design
    Fantasy:
      url: 'https://www.cdbaby.com/cd/palmieri'
      artist: 'Composer: Michael Palmieri'
      labels:
        - mixing
        - co-production
        - technical support
    Pleasure Principle:
      url: 'https://www.allmusic.com/album/pleasure-principle-mw0000463806/credits'
      artist: '"contemporary jazz" composer/keyboardist Joe Rubenstein'
      labels:
        - mixing
        - technical support
    Livin' for the Feelin':
      url: 'https://www.amazon.com/gp/product/B00004T2N2/ref=cm_cr_pr_pb_item'
      artist: NY-based pop/dance music duo DNA
      labels:
        - arranging
        - MIDI production
        - keyboards
        - percussion
        - recording
        - mixing
    Sonidos Migrantes:
      url: >-
        https://myspace.com/viajerosdelamusica/music/album/sonidos-migrantes-5703414
      artist: Colombian folkloric/pop duo Viajeros de la Musica
      labels:
        - recording
        - mixing
        - production
    Children of the Amazon:
      url: 'https://www.amazon.com/Children-Amazon-Kudzu-Peter-Griggs/dp/B00000G1RZ'
      artist: instrumentalists Kudzu &amp; Peter Griggs
      labels:
        - recording
        - mixing
    Tribe of One:
      url: 'https://www.discogs.com/Christine-Baczewska-Tribe-Of-One/release/2616270'
      artist: singer-songwriter Christine Baczewska
      labels:
        - recording
        - mixing
    Dawn Until Dusk:
      url: 'https://www.amazon.com/Dawn-Until-Dusk-Tribal-Didgeridoo/dp/B000001ZBE'
      artist: didgeridooist Adam Plack
      labels:
        - recording
        - production
        - mixing
    Sacred Songs of America:
      url: >-
        https://folkways.si.edu/ed-and-dana-mccurdy/on-jordans-stormy-banks-i-stand-sacred-songs-of-america/american-folk/music/album/smithsonian
      artist: Ed McCurdy with Dana McCurdy
      labels:
        - vocals
        - guitar
        - co-production
    Thoughts After Sixty:
      url: 'https://www.discogs.com/Ed-McCurdy-Thoughts-After-Sixty/release/10846060'
      artist: Ed McCurdy
      labels:
        - vocals
        - guitar
        - co-production
  Live Performances:
    Codanceco:
      artist: modern dance company
      description: live performance of a dance score by composer Scott Killian.
    Circle of One:
      description: >-
        solo percussion and electronics (Good Shepherd Lutheran Church,
        Weehawken, NJ)
    Jane Ira Bloom:
      url: 'http://www.janeirabloom.com/'
      description: >-
        collaborations for sax and electronics, including performances with the
        NY State Council of the Arts New Music Network in 1985
    None of the Above:
      artist: improvisational/experimental rock band
      description: various performances in New York and Toronto night clubs
    Ear Food:
      artist: >-
        synthesizer duo featuring original music by Dana McCurdy and Brian
        Flahive
      description: >-
        various performances and workshops in the NY metropolitan area,
        including Columbia University, WKCR, the Museum of Natural History, and
        the Ear Inn
  Production Credits:
    Various TV & Radio Commercials:
      artist: >-
        including AMTRAK, Chrysler, Omni Magazine, Singer, Black & Decker,
        Laughing Cow, Thomas’ English Muffins, and Breeders’ Cup
      labels:
        - synthesizer programming
        - recording
        - post-production
        - mixing
    Pre-production for "Saturday Night Live":
      artist: 'Composer: Howard Shore'
      labels:
        - synthesizer programming
    '"Source" music for TV soap opera "Another World"':
      artist: 'Composer: Mike Mandel'
      labels:
        - recording
        - production
        - mixing
    Musical theme for PBS series "Bookends":
      artist: 'Composer: Scott Killian'
      labels:
        - recording
        - co-production
        - mixing
    Soundtracks for various works by video artist Rita Myers:
      url: 'https://www.eai.org/artists/402/titles'
      artist: including a major Whitney Museum installation in 1985
      labels:
        - recording
        - co-production
        - mixing
    Various modern dance scores:
      artist: 'Composers: Linda Fisher and Scott Killian'
      labels:
        - recording
        - co-production
        - mixing
    1988 Summer Olympics:
      artist: music library for the network TV broadcast
      labels:
        - music editing
    '"Best of the Beach" and the Breeders Cup':
      artist: network TV sports broadcasts
      labels:
        - audio post-production
        - mixing
    'M1: The Video':
      artist: >-
        a series of four two-hour instructional videos on all operational
        aspects of the Korg M1 Synthesizer
      labels:
        - script writer
        - on-screen instructor
    Music for See Yourself Well:
      artist: an audio series of guided meditations by Anne Beattie
      labels:
        - original music
        - MIDI production
---

<div class="row justify-content-center">
  <div class="col-lg-8">
    <p>From childhood on, I’ve always been surrounded by music and musicians, and have been  inspired to follow in their footsteps, both through creating my own music, and supporting others in doing likewise.</p>

    <p>From folk music (my dad was a folk singer/songwriter), to jazz, pop, experimental/electronic, and world music, my musical explorations have involved me in many diverse aspects of music creation and production, from composing and producing my own original music, to supporting other musical artists in various capacities.</p>

    <div class="row">
      <div class="col-md">
        <h1>Skills</h1>
        <ul>
          <li>synthesizer programming/sound design</li>
          <li>MIDI production</li>
          <li>music recording, producing, and mixing</li>
          <li>audio editing</li>
          <li>electronic music composition</li>
          <li>song writing</li>
          <li>guitar</li>
          <li>vocals</li>
          <li>keyboard</li>
          <li>hand drums/percussion</li>
        </ul>
      </div>

      <div class="col">
        <h2>Music Software</h2>
        <ul>
          <li>ProTools (Avid-certified user/instructor)</li>
          <li>Digital Performer</li>
          <li>Studio One</li>
          <li>Logic</li>
          <li>Reason</li>
          <li>Recycle</li>
          <li>Native Instruments Komplete</li>
          <li>Arturia V Collection Software Instruments</li>
          <li>Metasynth</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% for category in page.music %}
  <h1 class="pt-5">{{category[0]}}</h1>

  <div class="card-columns">
    {% for item in category[1] %}
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-light">
            {% if item[1].url %}<a href="{{item[1].url}}">{% endif %}
              {{item[0] | smartify}}
            {% if item[1].url %}</a>{% endif %}
          </h2>

          {{item[1].artist | smartify}}

          {% if item[1].soundcloud %}
            <div class="embed-responsive embed-responsive-4by3">
              <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/{{item[1].soundcloud}}&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
            </div>
          {% endif %}

          {% if item[1].youtube %}
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/{{item[1].youtube}}?rel=0" allowfullscreen></iframe>
            </div>
          {% endif %}

          {% if item[1].description or item[1].labels %}
            {{ item[1].description | smartify }}

            {% if item[1].labels %}
              <ul>
                {% for label in item[1].labels %}
                  <li>{{ label }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
