---
---

$navbar-white: #ebebeb;
$navbar-border: 1px dotted $navbar-white;
$screen-sm: 768px;

/* general */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  font-size: 13px;
  > div {
    margin-bottom: 10.5px;
  }
  .list-inline {
    margin-left: -10px;
    margin-bottom: 0;
    li {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media (min-width: $screen-sm) {
  footer {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
      }
    }
  }
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

dt, dd {
  margin-bottom: 0.5em;
}

.before-list {
  margin-bottom: 0;
}

.before-blockquote {
  margin-bottom: 2px;
}

.manifesto {
  font-style: italic;
  text-align: center;
  p {
    font-style: italic;
    text-align: center;
  }
  h3 {
    margin-top: 0;
  }
}

.table {
  /* .text-muted color */
  border-top: 1px solid #4e5d6c !important;
  font-size: inherit !important;
  a {
    /* a color */
    color: #df691a !important;
  }
  > {
    thead > tr > th {
      text-align: center;
    }
    tbody > tr > th,
    thead > tr > th,
    tbody > tr > td,
    thead > tr > td {
      /* .text-muted color */
      border-bottom: 1px solid #4e5d6c !important;
    }
    tbody > tr:last-child > {
      th, td {
        border-bottom: none !important;
      }
    }
  }
}

.nav-tabs {
  margin-left: 15px;
  a {
    /* a color */
    color: #df691a !important;
  }
  .active a {
    /* nav-tab border color */
    border-bottom-color: #4e5d6c !important;
  }
}

/* standard navbar */

@media (min-width: $screen-sm) {
  .navbar-nav li {
    border-left: $navbar-border;
    &:last-child {
      border-right: $navbar-border;
    }
  }
}

/* mobile navbar */

@media (max-width: $screen-sm - 1px) {
  .navbar-nav li {
    &:first-child {
      border-top: none;
    }
    border-top: $navbar-border;
  }
}

/* home page */

.jumbotron {
  /* fall back to the middle color stop on browsers without linear gradients */
  background-color: rgb(43, 75, 90) !important;
  /* this is based off of the really cool gradient on http://bootswatch.com */
  background-image: linear-gradient(to top right, rgb(16, 30, 62) 0%, rgb(43, 75, 90) 87%, rgb(67, 94, 103) 100%);
  h1 {
    font-size: 52px !important;
    margin-top: 0;
    text-align: left;
  }
}

@media (max-width: $screen-sm - 1px) {
  .jumbotron .lead p {
    text-align: left;
  }
}

.excerpts h2 {
  text-align: center;
}

.more-link {
  margin-left: 20px;
}

.portrait cite {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* blog posts */

@media (min-width: $screen-sm) {
  .post .meta {
    padding-left: 30px;
  }
}

.post {
  h1, h2 {
    margin-top: 0 !important;
    text-align: left;
  }
}

.whitespaced-text {
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: none;
  font: inherit;
}
