---
layout: page
title: "Thoughts & Poems"
published: true
---

{% capture intro %}{% include thoughts_and_poems_intro.md %}{% endcapture %}
{{ intro | markdownify }}

{% include pager.html %}

<hr>
{% for post in paginator.posts %}
  <div class="row post">
    <div class="col-sm-4 meta">
      <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
      <p class="text-info">{{ post.date | date_to_string }}</p>
    </div>

    <div class="col-sm-8">
      {{ post.content }}
    </div>
  </div>
  <hr>
{% endfor %}

{% include pager.html %}
