<div class="list-group">
    {% for link in include.links %}
        {% if link[1] contains "vimeo.com" or link[1] contains "youtube.com" %}
            <a href="#" class="list-group-item">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{{ link[1] }}" allowfullscreen></iframe>
                </div>
            </a>
        {% else %}
            <a href="{{ link[1] }}" class="list-group-item list-group-item-action">
               {{ link[0] }}
            </a>
        {% endif %}
    {% endfor %}
</div>