<!-- Nav tabs -->
<ul class="nav nav-pills nav-justified" role="tablist">
  <li role="presentation" class="active">
    <a href="#serendipity-doo-dah" aria-controls="serendipity-doo-dah" role="tab" data-toggle="tab">
      Serendipity Doo Dah
    </a>
  </li>

  <li role="presentation">
    <a href="#electronic-music" aria-controls="electronic-music" role="tab" data-toggle="tab">
      Electronic Music
    </a>
  </li>

  <li role="presentation">
    <a href="#songs" aria-controls="songs" role="tab" data-toggle="tab">
      Songs
    </a>
  </li>
</ul>

<p></p>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane well active" id="serendipity-doo-dah">
    <p>New world fusion pieces for synthesizer, guitar, percussion, and vocals.</p>
    <p><small>(Dana McCurdy and Kim Starner)</small></p>
    <iframe width="85%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/99634633&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>

  <div role="tabpanel" class="tab-pane well" id="electronic-music">
    <p>Solo pieces for synthesizer, sampler, and processed audio.</p>
    <iframe width="85%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43073312&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>

  <div role="tabpanel" class="tab-pane well" id="songs">
    <p>Some of my singer-songwriter tunes (self-produced).</p>
    <iframe width="85%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/43061568&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
</div>
