<div class="row">
  <div class="col-sm-6">
    <h2>Skills</h2>
    <ul>
      <li>synthesizer programming/sound design</li>
      <li>MIDI production</li>
      <li>music recording, producing, and mixing</li>
      <li>audio editing</li>
      <li>electronic music composition</li>
      <li>song writing</li>
      <li>guitar</li>
      <li>vocals</li>
      <li>keyboard</li>
      <li>hand drums/percussion</li>
    </ul>
  </div>

  <div class="col-sm-6">
    <h3>Music Software</h3>
    <ul>
      <li>ProTools (Avid-certified user)</li>
      <li>Digital Performer</li>
      <li>Studio One</li>
      <li>Logic</li>
      <li>Reason</li>
      <li>Recycle</li>
      <li>Native Instruments Komplete</li>
      <li>Metasynth</li>
    </ul>
  </div>
</div>
