<!-- Template for rendering a single poem, both individually and in a poem listing. -->

<div class="row poem">
  <div class="col-sm-4 hidden-xs">
    <!-- Image -->
    {% if include.poem.image != "/assets/portrait.jpg" %}
      <img class="img-thumbnail" src="{{ include.poem.image }}">
    {% endif %}
  </div>

  <div class="col-sm-8">
    <!-- Title -->
    <h1><a href="{{ include.poem.url }}">{{ include.poem.title | smartify }}</a></h1>

    <p>
      <!-- Date -->
      <span class="text-info">{{ include.poem.date | date_to_string }}</span>

      <!-- Category -->
      {% if page.layout == "poem" %}
        <span class="label-group">
          {% for category in include.poem.categories %}
            <a class="label label-primary" href="/poems/{% if category != "life" %}{{ category }}{% endif %}">{{ category }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </p>

    <div class="visible-xs-block">
      <!-- Image -->
      {% if include.poem.image != "/assets/portrait.jpg" %}
        <img class="img-thumbnail" src="{{ include.poem.image }}">
      {% endif %}
    </div>

    <!-- Content -->
    <div {% if include.poem.centered %}class="centered"{% endif %}>
      {{ include.poem.content }}
    </div>
  </div>
</div>

<!-- Pager -->
{% if page.layout == "poem" %}
  <div class="row">
    <div class="col-sm-offset-4 col-sm-8 custom-pager">
      {% if page.previous %}
        <a class="btn btn-default btn-sm" href="{{ page.previous.url }}" title="{{ page.previous.title }}" role="button">Previous</a>
      {% else %}
        <a class="btn btn-default btn-sm disabled" href="#" role="button" aria-disabled>Previous</a>
      {% endif %}

      {% if page.next %}
        <a class="btn btn-default btn-sm" href="{{ page.next.url }}" title="{{ page.next.title }}" role="button">Next</a>
      {% else %}
        <a class="btn btn-default btn-sm disabled" href="#" role="button" aria-disabled>Next</a>
      {% endif %}
    </div>
  </div>
{% endif %}
