<!-- Template for rendering a single poem, both individually and in a poem listing. -->

<div class="row poem">
  <div class="col-sm-4">
    <!-- Image -->
    {% if include.poem.image != "/assets/portrait.jpg" %}
      <img class="img-thumbnail" src="{{ include.poem.image }}">
    {% endif %}
  </div>

  <div class="col-sm-8">
    <!-- Title -->
    <h1><a href="{{ include.poem.url }}">{{ include.poem.title }}</a></h1>

    <p>
      <!-- Date -->
      <span class="text-info">{{ include.poem.date | date_to_string }}</span>

      <!-- Category -->
      {% if page.layout == "poem" %}
        <span class="label-group">
          {% for category in include.poem.categories %}
            <a class="label label-primary" href="/poems/{% if category != "life" %}{{ category }}{% endif %}">{{ category }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </p>

    <!-- Content -->
    <div class="content {% if include.poem.centered %}centered{% endif %}">
      {{ include.poem.content }}
    </div>

    <!-- Pager -->
    {% if page.layout == "poem" %}
      <div class="custom-pager">
        {% if page.previous %}
          <a class="btn btn-default btn-sm" href="{{ page.previous.url }}" title="{{ page.previous.title }}" role="button">Previous</a>
        {% else %}
          <a class="btn btn-default btn-sm disabled" href="#" role="button" aria-disabled>Previous</a>
        {% endif %}

        {% if page.next %}
          <a class="btn btn-default btn-sm" href="{{ page.next.url }}" title="{{ page.next.title }}" role="button">Next</a>
        {% else %}
          <a class="btn btn-default btn-sm disabled" href="#" role="button" aria-disabled>Next</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
