<!-- Template for rendering a single post, both individually and in a post listing. -->

<div class="row post">
  <!-- Metadata -->
  <div class="col-sm-4 meta">
    <!-- Title -->
    {% if include.index == true %}
      <h2><a href="{{ include.post.url }}">{{ include.post.title }}</a></h2>
    {% else %}
      <h1>{{ include.post.title }}</h1>
    {% endif %}

    <!-- Date -->
    <p class="text-info">{{ include.post.date | date_to_string }}</p>

    <!-- Category -->
    {% if include.index != true %}
      <ul class="nav nav-tabs nav-tabs-back">
        {% for category in include.post.categories %}
          <li class="active">
            <a href="/poems/{% if category != "life" %}{{ category }}{% endif %}">
              {{ category }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- Pager -->
    {% if include.index != true %}
      <nav aria-label="Pagination">
        <ul class="pager">
          {% if page.previous != nil %}
            <li><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">Previous</a></li>
          {% else %}
            <li class="disabled" aria-disabled="true"><a href="#">Previous</a></li>
          {% endif %}

          {% if page.next != nil %}
            <li><a href="{{ page.next.url }}" title="{{ page.next.title }}">Next</a></li>
          {% else %}
            <li class="disabled" aria-disabled="true"><a href="#">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}

    <!-- Image -->
    {% if include.index != true and include.post.image %}
      <img class="img-responsive img-thumbnail" src="{{ include.post.image }}">
    {% endif %}
  </div>

  <!-- Content -->
  <div class="col-sm-8">
    {% if include.post.centered == true %}
      <div class="centered">{{ include.post.content }}</div>
    {% else %}
      {{ include.post.content }}
    {% endif %}
  </div>
</div>
