{% capture intro %}{% include poems_intro.md %}{% endcapture %}
{{ intro | markdownify }}

<ul class="nav nav-tabs" role="tablist">
  <li {% if include.scope == "life" %}class="active"{% endif %}>
    <a href="/poems/">life</a>
  </li>
  <li {% if include.scope == "love" %}class="active"{% endif %}>
    <a href="/poems/love/">love</a>
  </li>
</ul>

{% for post in include.data %}
  <hr>
  {% include post.html url=post.url title=post.title date=post.date centered=post.centered content=post.content %}
{% endfor %}
