{% capture intro %}{% include thoughts_and_poems_intro.md %}{% endcapture %}
{{ intro | markdownify }}

<ul class="nav nav-tabs" role="tablist">
  <li {% if include.scope == "life" %}class="active"{% endif %}>
    <a href="/thoughts_and_poems/">life</a>
  </li>
  <li {% if include.scope == "love" %}class="active"{% endif %}>
    <a href="/thoughts_and_poems/love/">love</a>
  </li>
</ul>

<hr>
{% for post in include.data %}
  {% include post.html url=post.url title=post.title date=post.date content=post.content %}
  <hr>
{% endfor %}
