<div class="row post">
  <div class="col-sm-4 meta">
    {% if include.url %}
      <h2><a href="{{ include.url }}">{{ include.title }}</a></h2>
    {% else %}
      <h1>{{ include.title }}</h1>
    {% endif %}

    <p class="text-info">{{ include.date | date_to_string }}</p>

    {% if include.category %}
      <ul class="nav nav-tabs nav-tabs-back">
        {% if include.category == "life" %}
          <li class="active">
            <a href="/poems/">life</a>
          </li>
        {% else %}
          <li class="active">
            <a href="/poems/{{ include.category }}/">{{ include.category }}</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>

  <div class="col-sm-8">
    {% if include.centered == true %}
      <div class="centered">{{ include.content }}</div>
    {% else %}
      {{ include.content }}
    {% endif %}
  </div>
</div>
