---
---

// Variables
$screen-sm: 768px;

// General

body {
  padding-bottom: 21px;
  padding-top: 21px;

  > footer {
    font-size: 12px;
    margin-top: 42px;
    text-align: right;
  }
}

dt,
dd {
  margin-bottom: .5em;
}

a {
  text-decoration: underline;

  &.btn, &.label {
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
}

.manifesto {
  border-left: 0;
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;

  h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    margin-top: 0
  }
}

.nav-pills {
  margin: 42px 0;

  > li > a {
    color: #df691a;
    text-decoration: none;
  }
}

.custom-pager .btn {
  margin-right: 0.25em;
}

// Standard navbar

.navbar {
  margin-bottom: 42px;

  a {
    text-decoration: none;
  }

  @media (min-width: $screen-sm) {
    .container-fluid {
      padding-right: 0;
    }
  }
}

// Mobile navbar

@media (max-width: $screen-sm - 1px) {
  .navbar-collapse {
    border-top: 0;
  }

  .navbar-nav {
    border-top: 1px solid #bf5a16;
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Home page

.jumbotron-home {
  // this is based off of the really cool gradient on https://bootswatch.com/
  background-image: linear-gradient(to top right, rgb(16, 30, 62) 0%, rgb(43, 75, 90) 87%, rgb(67, 94, 103) 100%);

  .portrait {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 0;

    img {
      margin-bottom: 10px;
      width: 200px;
    }
  }
}

// Music production

.panel-title a {
  display: block;
  text-decoration: none;
}

.panel-body ul {
  list-style: inside;
  margin-bottom: 0;
  padding-left: 0;
}

// Drum circles

.photos {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25em;

  a {
    margin: 0 2.08%;
  }

  img {
    border: 1px solid white;
    max-height: 15em;
    max-width: 100%;
  }
}

.carousel img {
  margin: 0 auto;
}

// Poems

.poem {
  margin: 42px 0;

  > * {
    padding-left: 0;
  }

  h1 {
    margin-top: 0;
  }

  .img-thumbnail {
    margin-bottom: 10.5px;
    max-width: 350px;

    @media (min-width: $screen-sm) {
      max-width: 90%;
    }
  }

  .label, .label-group {
    margin-left: 0.25em;
  }

  pre, code {
    all: unset;
    white-space: pre;

    code {
      all: unset;
    }
  }

  .centered {
    display: inline-block;
    text-align: center;
  }
}
