---
---

// Variables
$a-color: #df691a;
$border-color: #4e5d6c;
$footer-list-spacing: 10px;
$navbar-white: #ebebeb;
$navbar-border: 1px dotted $navbar-white;
$screen-sm: 768px;
$table-border: 1px solid $border-color !important;

// General

body {
  padding-bottom: 20px;
  padding-top: 20px;
}

footer {
  font-size: 13px;

  > div {
    margin-bottom: 10.5px;
  }

  .list-inline {
    margin-bottom: 0;
    margin-left: -$footer-list-spacing;

    li {
      padding-left: $footer-list-spacing;
      padding-right: $footer-list-spacing;
    }
  }
}

@media (min-width: $screen-sm) {
  footer {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;

    > div {
      -ms-flex: 1;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;

      &:nth-child(2) {
        text-align: center;
      }

      &:nth-child(3) {
        text-align: right;
      }
    }
  }
}

dt,
dd {
  margin-bottom: .5em;
}

a {
  text-decoration: underline;

  .glyphicon {
    margin-right: 0.2em;
  }
}

.page-heading {
  text-align: center;
}

.before-list {
  margin-bottom: 0;
}

.before-blockquote {
  margin-bottom: 2px;
}

.manifesto,
.manifesto p {
  font-style: italic;
  text-align: center;
}

.table {
  border-top: $table-border;
  font-size: inherit !important;

  a:not(.btn) {
    color: $a-color;
  }

  > {
    thead > tr > th {
      text-align: center;
    }

    tbody > tr > th,
    thead > tr > th,
    tbody > tr > td,
    thead > tr > td {
      border-bottom: $table-border;
    }

    tbody > tr:last-child > {
      th,
      td {
        border-bottom: none !important;
      }
    }
  }
}

.table-first-column-bold td:first-child {
  font-weight: bold;
}

.nav-tabs {
  margin-left: 15px;

  a {
    color: $a-color !important;
  }

  .active a {
    border-bottom-color: $border-color !important;
  }

  > li > a:hover {
    text-decoration: underline;
  }
}

// Standard navbar

.navbar a {
  text-decoration: none !important;
}

@media (min-width: $screen-sm) {
  .navbar-nav li {
    border-left: $navbar-border;

    &:last-child {
      border-right: $navbar-border;
    }
  }
}

// Mobile navbar

@media (max-width: $screen-sm - 1px) {
  .navbar-nav li {
    border-top: $navbar-border;

    &:first-child {
      border-top: 0;
    }
  }
}

// Home page

.jumbotron-home {
  // fall back to the middle color stop on browsers without linear gradients
  background-color: rgb(43, 75, 90) !important;
  // this is based off of the really cool gradient on http://bootswatch.com
  background-image: linear-gradient(to top right, rgb(16, 30, 62) 0%, rgb(43, 75, 90) 87%, rgb(67, 94, 103) 100%);

  h1 {
    font-size: 52px !important;
    margin-top: 0;
  }
}

.excerpts {
  h2 {
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

.more-link {
  margin-left: 20px;
}

.portrait cite {
  display: block;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
}

// Posts

.post {
  margin-bottom: 75px;

  .lead {
    font-size: inherit;
  }

  .img-responsive {
    margin: 21px 0;
    max-width: 50%;

    @media (min-width: $screen-sm) {
      max-width: 75%;
    }
  }
}

@media (min-width: $screen-sm) {
  .post .meta {
    padding-left: 30px;
  }
}

.meta > *:first-child {
  margin-top: 0 !important;
}

.nav-tabs-back {
  margin-left: 0;

  a {
    cursor: pointer !important;
  }
}

.whitespaced-text {
  background-color: inherit;
  border: 0;
  color: inherit;
  font: inherit;
  padding: 0;
}

.centered {
  display: inline-block;
  text-align: center;
}

.vertical-space {
  // Twice the size of Bootstrap's bottom margin for paragraphs
  height: 21px;
}

.bold {
  font-weight: bold;
}
