---
layout: page
title: Blog
---

<hr>
{% for post in paginator.posts %}
  <div class="row post">
    <div class="col-sm-4 meta">
      <h3><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h3>
      <p class="text-info">{{ post.date | date_to_string }}</p>
    </div>

    <div class="col-sm-8">
      {{ post.content }}
    </div>
  </div>
  <hr>
{% endfor %}

<ul class="pager">
  {% if paginator.previous_page %}
    <li><a href="{{site.baseurl}}{{paginator.previous_page_path}}">Previous</a></li>
  {% else %}
    <li class="disabled"><a href="#">Previous</a></li>
  {% endif %}

  {% if paginator.next_page %}
    <li><a href="{{site.baseurl}}{{paginator.next_page_path}}">Next</a></li>
  {% else %}
    <li class="disabled"><a href="#">Next</a></li>
  {% endif %}
</ul>
