---
layout: page
title: Blog
---

<ul class="list-unstyled">
  {% for post in paginator.posts %}
    <li>
      <h2><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h2>
      <p class="text-info">{{ post.date | date_to_string }}</p>

      {{ post.content }}
    </li>
  {% endfor %}
</ul>

<ul class="pager">
  {% if paginator.previous_page %}
    <li><a href="{{site.baseurl}}{{paginator.previous_page_path}}">Previous</a></li>
  {% else %}
    <li class="disabled"><a href="#">Previous</a></li>
  {% endif %}

  {% if paginator.next_page %}
    <li><a href="{{site.baseurl}}{{paginator.next_page_path}}">Next</a></li>
  {% else %}
    <li class="disabled"><a href="#">Next</a></li>
  {% endif %}
</ul>
