<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/assets/favicon.png">
    {% seo %}
    {% feed_meta %}

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51703743-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-51703743-1');
    </script>

    <!-- Styles -->
    <link rel="stylesheet" href="https://unpkg.com/bootswatch@4.1.3/dist/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
  </head>

  <body class="container">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary my-4">
      <a class="navbar-brand" href="/">{{ site.title }}</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbar">
        <!-- Pages -->
        <div class="navbar-nav mr-auto">
          {% assign link_pages = site.pages | where_exp: 'link_page','link_page.position' | where_exp: 'link_page','link_page.autogen == nil' | sort: 'position' %} {% for link_page in link_pages %}
            <a class="nav-link{% if page.title == link_page.title %} active{% endif %}" href="{{link_page.url}}">
              {{link_page.title}} 
              {% if page.title == link_page.title %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          {% endfor %}
        </div>

        <!-- Contact links -->
        <div class="navbar-nav">
          <a class="nav-link" href="mailto:danamcc221@gmail.com">Email</a>
          <a class="nav-link" href="https://www.facebook.com/danamcc">Facebook</a>
        </div>
      </div>
    </nav>

    <!-- Content -->
    {{ content }}

    <!-- Footer -->
    <footer class="text-right my-3">
      &copy; 2014–{{ 'now' | date: "%Y" }} {{ site.title }} & <a href="https://nickmccurdy.com/">Nick McCurdy</a>
    </footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.slim.min.js"></script>
    <script src="https://unpkg.com/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
