<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.png">
    {% seo %}
    {% feed_meta %}

    <!-- styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-Xqcy5ttufkC3rBa8EdiAyA1VgOGrmel2Y+wxm4K3kI3fcjTWlDWrlnxyD6hOi3PF" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51703743-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

    <div class="container">
      <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% assign link_pages = site.pages | where_exp: 'link_page','link_page.position != nil' | sort: 'position' %}
            {% for link_page in link_pages %}
              <li{% if page.title == link_page.title %} class="active"{% endif %}>
                <a href="{{link_page.url}}">
                  <span class="glyphicon glyphicon-{{link_page.icon}}"></span>
                  {{link_page.title}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      {{ content }}
    </div>

    <hr>

    <footer class="container">
      <div>&copy; 2016 {{ site.title }}</div>
      <div>
        <ul class="list-inline">
          <li><a href="mailto:danamcc221@gmail.com">
            <span class="glyphicon glyphicon-envelope"></span>
            Contact Me
          </a></li>
          <li><a href="https://www.facebook.com/danamcc">
            <span class="glyphicon glyphicon-user"></span>
            Facebook
          </a></li>
        </ul>
      </div>
      <div><cite>
        Website:
        <a href="http://nickmccurdy.com/" target="_blank">Nick&nbsp;McCurdy</a>
      </cite></div>
    </footer>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
