<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/favicon.png">
    {% seo %}
    {% feed_meta %}

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51703743-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-51703743-1');
    </script>

    <!-- Styles -->
    <link rel="stylesheet" href="https://unpkg.com/bootswatch@3.3.7/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
  </head>

  <body>

    <div class="container">
      <!-- Navigation -->
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target=".navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/">{{ site.title }}</a>
          </div>

          <div class="collapse navbar-collapse">
            <!-- Pages -->
            <ul class="nav navbar-nav">
              {% assign link_pages = site.pages | where_exp: 'link_page','link_page.position' | where_exp: 'link_page','link_page.autogen == nil' | sort: 'position' %}
              {% for link_page in link_pages %}
                <li{% if page.title == link_page.title %} class="active"{% endif %}>
                  <a href="{{link_page.url}}">{{link_page.title}}</a>
                </li>
              {% endfor %}
            </ul>

            <!-- Contact links -->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="mailto:danamcc221@gmail.com">Email</a></li>
              <li><a href="https://www.facebook.com/danamcc">Facebook</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Content -->
      {{ content }}
    </div>

    <hr>

    <!-- Footer -->
    <footer class="container">
      <div>&copy; 2014–{{ 'now' | date: "%Y" }} {{ site.title }}</div>
      <div>
        Website by
        <a href="http://nickmccurdy.com/">Nick McCurdy</a>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/jquery@3.2.1/dist/jquery.slim.min.js"></script>
    <script src="https://unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  </body>
</html>
