---
layout: default
---

<!-- Template for a post listing within a specific category. -->

{% if page.dir contains "/poems/" %}
  <!-- Google Custom Search -->
  <script>
    (function () {
      var cx = '011300544546559065813:eobn1exnf6k';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
{% endif %}

<div class="row justify-content-center">
  <div class="col-lg-8">
    {% if page.dir contains "/poems/" %}
      {% capture intro %}{% include poems_intro.md %}{% endcapture %}
    {% else %}
      {% capture intro %}{% include blog_intro.md %}{% endcapture %}
    {% endif %}

    {{ intro | markdownify }}
  </div>
</div>

{% if page.dir contains "/poems/" %}
  <div class="row mt-4">
    <div class="col-md-4 mb-5">
      <nav class="nav nav-pills">
        <a class="nav-link{% if paginator.first_page_path == "/poems/" %} active{% endif %}" href="/poems/">
          life
        </a>

        <a class="nav-link{% if paginator.first_page_path == "/poems/love/" %} active{% endif %}" href="/poems/love/">
          love
        </a>
      </nav>
    </div>

    <div class="col offset-md-4">
      <gcse:searchbox></gcse:searchbox>
    </div>
  </div>

  <gcse:searchresults></gcse:searchresults>
{% endif %}

{% for post in paginator.posts %}
  {% include post.html post=post %}
{% endfor %}

<div class="row justify-content-end">
  <div class="col-md-8">
    <nav>
      <ul class="pagination">
        {% if paginator.next_page %}
          <li class="page-item">
            <a class="page-link" href="{{ paginator.next_page_path }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Previous</a>
          </li>
        {% endif %}

        {% if paginator.previous_page %}
          <li class="page-item">
            <a class="page-link" href="{{ paginator.previous_page_path }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
